body {
  background-image: url("https://img.freepik.com/premium-photo/cartoon-girl-glasses-reading-book-while-wearing-school-uniform_988987-5784.jpg?w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
